public-hoist-pattern[]=tailwindcss@3.3.3
public-hoist-pattern[]=postcss@8.4.31
public-hoist-pattern[]=autoprefixer@10.4.14
strict-peer-dependencies=false
auto-install-peers=true
registry=https://registry.npmjs.org/